@font-face {
	font-family: "ColfaxAI";
	src: url(./fonts/ColfaxAIRegular.woff2) format("woff2"),
		url(./fonts/ColfaxAIRegular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ColfaxAI";
	src: url(./fonts/ColfaxAIBold.woff2) format("woff2"),
		url(./fonts/ColfaxAIBold.woff) format("woff");
	font-weight: bold;
	font-style: normal;
}

.font-colfaxai {
	font-family: "ColfaxAI", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, sans-serif;
}

.selected {
	background-color: white !important;
	color: black !important;
}

.spinner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.spinner {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.hidden {
	display: none !important;
}
